*{
    margin: 0;
    font-family: sans-serif;
    color: white;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    min-height: 100vh;
    background-color: rgb(165, 42, 42);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(165, 42, 42, 0), rgba(165, 42, 42, 1)),url(images/header-section.jpg);
    background-size:cover;
    min-height: 20vh;
    padding: 1em;
}


.header img{
    height: 5em;
    width: 5em;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-height: 10vh;
    padding-top: 0.25em;
    text-align: center;
}

.footer{
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    background-color: orange;
    min-height: 10vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;

    background-image: url(images/cocktail-section.jpg);
    
    min-height: 60vh;
    border-radius: 20px;
    margin: 1em;
}

.item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 140px;
    height: 80px;
    text-transform: uppercase;
    border-radius: 8px;
    margin: 0.5em;
}

.item p{
    display: none;
}

.item img{
    height: 3.5em;
    width: 3.5em;
}

.item:hover h3, .item:hover img{
    display: none;
}

.item:hover p{
    display: block;
    text-align: center;
    padding: 0.1em;
}

.item-1{
    background-image: url(images/coco-banner.jpg);
    background-size: cover;
}
.item-2{
    background-image: url(images/citrinus-banner.jpg);
    background-size: cover;
}
.item-3{
    background-image: url(images/mentalux-banner.jpg);
    background-size: cover;
}
.item-4{
    background-image: url(images/cherry-banner.jpg);
    background-size: cover;
}
.item-5{
    background-image: url(images/2.jpg);
    background-size: cover;
}
.item-6{
    background-image: url(images/orange-banner.jpg);
    background-size: cover;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1em;
}
h3{
    font-size: 0.9em;
}
h4{

}

@media all and (min-width: 750px) and (min-height: 900px){
    .container{
        width: 650px;
        align-self: center;
    }
    .item{
        width: 280px;
        height: 160px;
    }
}

@media all and (min-width: 1000px) and (min-height: 720px){
    h1{
        font-size: 6em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.5em;
    }
}